# Id: run_once_10-install-packages-linux 1.0.0 (2021/02/13)
# Author: Gionni <giovbat@gmail.com>
# Desc: Install packages on GNU/Linux

{{- if (eq .chezmoi.os "linux") -}}
#!/bin/bash

set -eufo pipefail

repositories=()
packages=(
    git
    curl
    wget
    vim
    htop
    ripgrep
    jq
    zsh
    git-lfs
    tmux
    code
    firefox
    google-chrome
    httpie
)

{{ end }}
